<ion-header>
  <ion-navbar>
    <ion-title>Zoho test</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="doLogin()">Fazer login</button>

  <br><br><br>

  <div *ngIf="userName && userEmail">Olá {{userName}}, email: {{userEmail}}</div>

</ion-content>
